#menu {
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 94%;
    right: 190px;
    margin: 10px;
}

#container {
    overflow: auto;
}

.input {
    padding: 10px
}

.bg {
    padding: 10px;
}

.no-margin {
    margin-left: 0px;
}