#menu {
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 94%;
    right: 10px;
    margin: 10px;
}

#connect {
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 94%;
    right: 120px;
    margin: 10px;
}

#container {
    overflow: auto;
}

.input {
    padding: 10px
}

.bg {
    padding: 10px;
}

.no-margin {
    margin-left: 0px;
}

.niftyImg {
    width: 62px;
    height: 124px;
    margin: 10px;
}

.punkImg {
    width: 150px;
    height: 150px;
    margin-left: -50px;
}

.vitalikImg{
    width: 64px;
    height: 150px;
    margin: 10px;
}

#ens {
    margin-bottom: 10px;
}

.traits-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 0%;
    right: 10px;
    margin: 10px;
    list-style: none;
}

.walletTraits {
    -webkit-flex-direction: column-reverse; 
    flex-direction: column-reverse; 
    font-family: 'Press Start 2P';
    color: blue;
    font-size: 12px;
    list-style-type: none;
    padding-bottom: 5px;
}

#storeTab {
    height: 85vh;
}
