.bg {
    background-image: url('../assets/Images/coming_soon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

#menu {
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 82%;
      left: 35;		
}