<div id="bg" class="bg">
    <app-canvas
        (transaction)='processEatenTransaction($event)'
        (powerUpSound)="powerUpSound()"
        (resetEatenTxs)="resetEatenTxs()"
        (gameOverSound)="gameOverSound()">
    </app-canvas>
</div>

<app-menu [eatenTransactions]="eatenTransactions" (changeSound)='changeSoundSetting($event)'></app-menu>

<!-- <p id="version">Beta v0.1.0</p> -->
	
<audio *ngIf="playsound" src="../assets/backgroundSong.mp3" autoplay loop>This browser does not support this tag.</audio>
