<div class="bg">
    <app-canvas></app-canvas>
</div>
    <!-- <h1>Latest Block: </h1> -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modalBody" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#infoTab" aria-controls="infoTab" role="tab" data-toggle="tab" >Info</a>
                            </li>
                            <li role="presentation"><a href="#scoresTab" aria-controls="scoresTab" role="tab" data-toggle="tab" onclick="populateLeaderboard()">Scores</a>
                            </li>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="infoTab">
                                <img id="vitalik" src="menuHeader3.png" class="img-responsive"/>
                                 <p>FeedVitalik is an Ethereum blockchain transaction visualizer with a twist. The
                                 Eth you see falling from the sky are real time transactions happening on the Ethereum blockchain.</p>

                                 <p>The size and value of each Eth is determined by the size of the transaction. Eat the Eth to help feed a starving Vitalik as well as increase your score.</p>

                                 <h3>Controls</h3>
                                 <p>Use your arrow keys to move Vitalik horizontally. (A & D work as well)</p>

                                 <h3>Credits</h3>
                                 <p>Original inspiration for 8-bit Vitalik found <a href="https://www.teepublic.com/t-shirt/2207901-vitalik-buterin-8-bit">here</a>.</p>
                                 <p>Recreated using <a href="https://make8bitart.com" >make8bitart.com</a> Thanks <a href="https://twitter.com/jennschiffer">@jennschiffer</a>!</p>

                                 <h3>Support</h3>
                                 <p> Support FeedVitalik.com by donating Ethereum or Bitcoin to the following address's.</p>

                                 <form>
                                  <div class="input-group">
                                    <span class="input-group-addon">Ethereum</span>
                                    <input class="form-control" type="text" id="donate" readonly="readonly" value="0xdA78E8B96B640D2002fECe59A92f76dE3b049B91">
                                  </div>

                                  <br />

                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i>itcoin</span>
                                    <input class="form-control" type="text" id="donate" readonly="readonly" value="16aaBV4kYpLfbEEnTkNsLLvwvivyDdR9Sq">
                                  </div>
                                  
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="scoresTab">
                                <h2>Local High Scores</h2>
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Score</th>
                                        <th>Total</th>
                                        <th>Largest</th>
                                        <th>Date</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                          <td id="score1"></td>
                                        <td id="total1"></td>
                                        <td id="largest1"></td>
                                        <td id="date1"></td>
                                      </tr>
                                      <tr>
                                        <td id="score2"></td>
                                        <td id="total2"></td>
                                        <td id="largest2"></td>
                                        <td id="date2"></td>
                                      </tr>
                                      <tr>
                                        <td id="score3"></td>
                                        <td id="total3"></td>
                                        <td id="largest3"></td>
                                        <td id="date3"></td>
                                      </tr>
                                      <tr>
                                        <td id="score4"></td>
                                        <td id="total4"></td>
                                        <td id="largest4"></td>
                                        <td id="date4"></td>
                                      </tr>
                                      <tr>
                                        <td id="score5"></td>
                                        <td id="total5"></td>
                                        <td id="largest5"></td>
                                        <td id="date5"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                 <p><a href="#" onclick="clearScores()" >Clear Leaderboard</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-primary btn-md" id="menu" data-toggle="modal" data-target="#myModal">Menu</button> -->
