.bg {
    background-image: url('../assets/Images/coming_soon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

p {
    font-family: 'Press Start 2P';
    color: red;
    margin: 10px;
}

.music{
    position: absolute;
    bottom: 92%;
    right: 10px;
}