.bg {
    background-image: url('../assets/Images/coming_soon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}