<!-- <button type="button" class="btn btn-md" id="wallet"><img id="unicorn" src="../../assets/Images/unicorn.png" width="30px" height="30px"/>Feed Vitalik</button> -->
<img id="wallet" class="" src="../assets/Images/walletButton.jpg" width="180" height="45" (click)="connectWallet()" > 

<!-- <img id="wallet"class="" src="../assets/Images/walletButton.jpg" width="80" height="25" (click)="connectWallet()" *ngIf="!loggedIn">
<i *ngIf="!loggedIn" class="far fa-user-circle"></i> -->

<button type="button" class="btn btn-primary btn-md" id="account" (click)="showAccount()">Hello  {{account}}</button>
<!-- {{account}} -->