#wallet {
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 94%;
    right: 0px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#account {
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 94%;
    right: 0px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: green;
    border-color: green;
}