/* You can add global styles to this file, and also import other style files */
.container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
    margin: 0;
  }